<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue To Do List</title>
</head>
<body>
    <div id="root">
        <div class="container">
            <div class="todo-list">
                <h2>TO DO LIST</h2>
                <ul>
                    <li class="list" v-for="(items, index) in todoList">
                        <div class="list-items" v-if="!doneList.includes(index)">
                            <i class="fa-solid fa-circle-xmark"
                            @click="isDone(index)"></i>
                            {{items.text}}
                        </div>
                    </li>
                </ul>
                <div>
                    <input 
                    type="text" 
                    v-model="newItem" 
                    placeholder="Devi fare altro?" 
                    @keyUp.enter="addItems">
                    <button @click="addItems">Aggiungi alla lista</button>
                </div>
            </div>

            <div class="list-items" v-if="doneList.length > 0">
                <h2>DONE LIST</h2>
                <ul>
                    <li class="list" v-for="(items, index) in todoList">
                        <div v-if="doneList.includes(index)">
                            <i class="fa-solid fa-circle-check"
                            @click="isDone(index)"></i>
                            {{items.text}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>