* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  margin: 10px auto;
}

.list-items {
  padding: 10px;
}

h2 {
  font-size: 50px;
  text-align: center;
}

.list {
  font-size: 30px;
}
